{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "30",
          "ie": "9"
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"

  ]
}
