{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "30",
          "ie": "8",
          "android": "4"
        },
        "useBuiltIns": "usage", //按需添加polyfill,把用到的代码都转成低版本浏览器兼容的
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
