{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "legacyDecorators": true,
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "prettier/prettier": [
            "error"
        ]
    }
}