
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="data:;base64,=" rel="icon" />

  <title>{{ data.title or '默认title'}}</title>
  <style>
    body{touch-action: manipulation;}
  </style>
  {# <!-- 多屏幕适配方案 --> #}
  <script>
    /**
      * @description （多屏幕+手机系统字体+webview+750设计稿）适配方案
      * 1rem = 100px
      */
    (function (win, doc) {
      var docEl = doc.documentElement;
      var _dpr = win.devicePixelRatio || 1;
      var _scale = 1 / _dpr;

      var setStyleFontSize = function (num) {
        var max = 100
        docEl.style.fontSize = (num > max ? max : num) + 'px';
        // docEl.style.fontSize = num + 'px';
      };
      // 计算并设置根元素fontSize
      var calcRem = function () {
        const clientWidth = Math.max(Math.min(docEl.clientWidth, 750), 320)
        var _rem = (docEl.clientWidth) / 7.5;

        // /* 设置data-dpr属性，留作的css hack之用 */
        // docEl.setAttribute('data-dpr', _dpr);

        /* 动态写入样式 */
        setStyleFontSize(_rem);

        /* 给js调用的，某一dpr下rem和px之间的转换函数 */
        win.rem2px = function (v) {
          v = parseFloat(v);
          return v * _rem;
        };
        win.px2rem = function (v) {
          v = parseFloat(v);
          return v / _rem;
        };

        win.dpr = _dpr;
        win.rem = _rem;
      };

      /* 解决部分手机webview一开始获取的clientWidth为0，导致font-size为0即1rem=0 的bug */
      var canSetFontSize = function () {
        if (docEl.clientWidth === 0) {
          setTimeout(function () {
            canSetFontSize();
          }, 50);
          return;
        }
        calcRem();
      };
      canSetFontSize();

      /* 解决手机更改系统字体大小的适配问题 */
      var calcScale = function () {
        setTimeout(function () {
          (function () {
            try {
              var realFz = parseInt(win.getComputedStyle(docEl).fontSize.replace('px', ''), 10);

              var expectFz = parseInt(win.rem, 10);
              console.log('realFz:',realFz, 'expectFz:',expectFz);

              if (realFz != expectFz && docEl.clientWidth < 750) {
                var realRem = expectFz / (realFz / expectFz);
                setStyleFontSize(realRem);
              }
            } catch (e) {
              console.error(e);
            }
          })();
        }, 50);
      };
      /* ga 打点 */
      var ga = function(id){
        win.dataLayer = win.dataLayer || [];
        function gtag(){
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', id);
        win.gtag = gtag;
        setTimeout(function(){
          var gtagScript = doc.createElement('script');
          gtagScript.src="https://www.googletagmanager.com/gtag/js?id="+id;
          gtagScript.async = true;
          doc.head.appendChild(gtagScript);
        },100)
      }
      var ga_id = "{{data.ga_id}}"
      if(ga_id){
        ga(ga_id)
      }
      {# win.onload = function () {
        console.log('onload');
        calcScale();
      }; #}
      doc.addEventListener('DOMContentLoaded',function(event){
        console.log("DOM fully loaded and parsed");
        calcScale();
      })

      var debounce = function (fn, delay, immediate) {
        if (!delay) {
          delay = 300;
        }
        if (!immediate) {
          immediate = false;
        }
        var timer = null;
        return function () {
          var that = this;
          var argumentsCopy = arguments;
          if (immediate && !timer) {
            console.log(immediate, timer);
            fn.apply(that, argumentsCopy);
          }
          if (timer) {
            clearTimeout(timer);
          }
          timer = setTimeout(function () {
            if (!immediate) {
              fn.apply(that, argumentsCopy);
            }
            timer = null;
          }, delay);
        };
      };

      win.onresize = debounce(function () {
      console.log('onresize');
      var _rem = docEl.clientWidth / 7.5;
      setStyleFontSize(_rem);
    });

    })(window, document);

  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
